body {background-color: blue;}
#Card { background-color: red;height: 600px;width: 500px;margin: 20px auto;padding: 40px;border-radius: 25px;}
#icons {text-align: center;}
h4 {text-align: center;}
h1 {text-align: center;}
p {text-align: center;}
#pic {text-align: center;}
img {border-radius: 50%; height: 150px; width: 150px;}





